<!DOCTYPE html>
<html  lang="ro">
    <head>
        
        <title>Ansamblul rezidential MB - Despre noi</title>

        <%- include("../fragmente/head") %>     
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <h2>Depre Ansamblul rezidential MB:</h2>
        <p><b>Ansamblul rezidențial MB</b> este cel mai nou proiect imobiliar -+</p>
        <p><b>Ansamblul rezidențial MB</b> este compus din 3 blocuri cu 150 de unități locative,amplasate pe 7 nivele cu parcare subterană, o intrare amenjată cu materiale de cea mai bună calitate și 30 de duplexuri cu parcare si curte individuală. Ansamblul rezidențial MB este amplasat în zona Ghencea, pe Prelungirea Ghencea.</p>
        <p><b>Ansamblul rezidențial MB</b> dispune de toate utilitățile astfel încat mutarea dumneavoastră în noua casă să fie cât mai ușoară și cât mai plăcută. Fiecare apartament, garsonieră sau casă are centrală proprie pe gaz, încălzire în pardoseală și baie complet utilată cu materiale de cea mai bună calitate.</p>
        <p><b>Ansamblul rezidențial MB</b> este construit în sectorul 6, pe Prelungirea Ghencea, o zonă care este într-o continuă dezvolatare.</p>
        <div >
            <img src="/resurse/images/fundatie_ansamblu.jpg" alt="Fundatie ansamblu" class="constructie_ansamblu_jpg">
        </div>
        <p>Materialele folosite in construirea ansamblului sunt de cea mai bună calitate pentru a oferi clienților noștri un confort sporit și pentru a minimiza cât mai mult costurile întreținerii prin izolarea termică și fonică cu <i>vată bazaltică</i>. Pentru o rezistență sporită și o izoloție termică foarte bună ansamblul este construit cu <i>caramidă Porotherm Robust 25, 375 x 250 x 238 mm</i>. Dimensiunile fierului beton utilizat la construcția celor 3 blocuri :<i> Ø 25 ,  Ø 20 ,  Ø 18 , Ø 16 ,  Ø 12 , Ø 10 / BST 500</i>. Betonul folosit pentru construcția ansamblului este <i>B500</i>, astfel încat blocurile oferă cea mai mare siguranță in cazul unui seism mare ( 9 grade pe scara Richter)</p>     
        <div >
            <img src="/resurse/images/fundatie2_ansamblu.jpg" alt="Fundatie ansamblu" class="constructie_ansamblu_jpg">
        </div>
        
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>
