<footer>
    <address>
        Telefon:<a href="tel:+(40712345678)">0712 345 678</a><br>
        Adresa: București,sector 6, Prelungirea Ghencea, nr. 330-340<br>
        E-mail: <a href="mailto:MBResidence@gmail.com">MBResidence@gmail.com</a>
        
    </address>
    <br>
        <span class="fab fa-instagram"></span>
        <span class="fab fa-youtube"></span>
        <span class="fab fa-twitter"></span>
    <p>Data creării site-ului: <time datetime="2021-03-08">08.03.2021</time></p>
    <p><small>Copyright &copy;2021 Bîrsan Mihai</small></p>    
</footer>